<div class="header">
  <!-- <img src="assets/images/hacker-news@3x.png" alt=""> -->
  <h1>hacker news</h1>
</div>

<div class="wrap-selector">
  <button [ngClass]="{'pressed': !favorites}" (click)="showAll()">All</button>
  <button [ngClass]="{'pressed': favorites}" (click)="showFavs()">My faves</button>
</div>

<div class="body">
  <div *ngIf="!favorites">
    <form [formGroup]="myForm">
      <select name="frameworks" id="frameworks" formControlName="framework" (change)="showData()">
        <option *ngFor="let framework of frameworks" [value]="framework.value">
          <p>{{framework.label}}</p>
        </option>
      </select>
    </form>
  </div>

  <div class="boxes" [ngClass]="{'space': favorites}" infiniteScroll (scrolled)="onScrollDown()">
    <div class="box" *ngFor="let news of newsList">
      <div class="left" (click)="redirectToNews(news.story_url)">
        <div class="time">
          <img class="clock" src="assets/images/iconmonstr-time-2_2@3x.png">
          <span>{{news.created_at}} by {{news.author}}</span>
        </div>
        <div class="comment">
          <p>{{news.story_title}}</p>
        </div>
      </div>
      <div class="right" (click)="addOrRemoveFavorite(news)">
        <img class="favorite" src="assets/images/iconmonstr-favorite-3_2@3x.png">
      </div>
    </div>
  </div>

  
</div>
<button class="up" (click)="onScrollTop()" *ngIf="showButton">UP</button>

