<div class="header">
  <!-- <img src="assets/images/hacker-news@3x.png" alt=""> -->
  <h1>hacker news</h1>
</div>

<div class="wrap-selector">
  <div class="selector">
    <p>All</p>
  </div>
  <div class="selector">
    <p>My faves</p>
  </div>
</div>

<div class="body">
  <div class="dropdown">
    <form>
      <select name="frameworks" id="frameworks">
        <option value="">
          <p>Select your news</p>
        </option>
        <option value="angular">
          <p>Angular</p>
        </option>
        <option value="reactjs">
          <p>Reactjs</p>
        </option>
        <option value="vuejs">
          <p>Vuejs</p>
        </option>
      </select>
    </form>
  </div>

  <div class="boxes">
    <div class="box">
      <div class="left">
        <div class="time">
          <img class="clock" src="assets/images/iconmonstr-time-2_2@3x.png">
          <span>3 hours ago by author</span>
        </div>
        <div class="comment">
          <p>Yes, React is taking over front-end development. The question is why.</p>
        </div>
      </div>
      <div class="right">
        <img class="favorite" src="assets/images/iconmonstr-favorite-3_2@3x.png">
      </div>
    </div>
  </div>

</div>