.header {
  height: 114px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, var(--color-10) -32%, var(--color-white) 124%);
  display: flex;
  align-items: center;
  width: 100%;
}
h1, .body {
  padding: 0 10%;
}
.body {
  margin-top: 37px;
}
.wrap-selector {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 98px;
  height: 31px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}
button:hover {
  border: solid 1px var(--color-11);
  color: var(--color-11);
}
.pressed, button:focus {
  outline: solid 1px var(--color-11);
  color: var(--color-11);
}
select {
  width: 240px;
  padding: 5px 12px;
  border-radius: 4px;
  color: var(--color-8);
}
.boxes {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
}
.box {
  min-height: 90px;
  border-radius: 6px;
  border: solid 1px #979797;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 68px;
  grid-template-areas: 
  "left right";
  cursor: pointer;
}
.box:hover {
  opacity: 0.6;
}
.left  {
  grid-area: left;
  padding: 26px;
}
.time {
  display: flex;
  align-items: center;
}
.clock {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.comment {
  margin-top: 7px;
  font-weight: 500;
}
.right {
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
}
.favorite {
  width: 24px;
  height: 22px;
  object-fit: contain;
}
.space {
  margin-top: calc(37px + 29px + 37px);
}
.up {
  position: fixed;
  right: 20px;
  bottom: 50px;
  border-radius: 25px;
  width: 50px;
}
.up:focus {
  outline: none;
}