<div class="header">
  <!-- <img src="assets/images/hacker-news@3x.png" alt=""> -->
  <h1>hacker news</h1>
</div>

<div class="wrap-selector">
  <button (click)="showAll()">All</button>
  <button (click)="showFavs()">My faves</button>
</div>

<div class="body">
  <div class="dropdown">
    <form [formGroup]="myForm">
      <select name="frameworks" id="frameworks" formControlName="framework" (change)="showData()">
        <option *ngFor="let framework of frameworks" [value]="framework.value">
          <p>{{framework.label}}</p>
        </option>
      </select>
    </form>
  </div>

  <div class="boxes">
    <div class="box">
      <div class="left">
        <div class="time">
          <img class="clock" src="assets/images/iconmonstr-time-2_2@3x.png">
          <span>3 hours ago by author</span>
        </div>
        <div class="comment">
          <p>Yes, React is taking over front-end development. The question is why.</p>
        </div>
      </div>
      <div class="right">
        <img class="favorite" src="assets/images/iconmonstr-favorite-3_2@3x.png">
      </div>
    </div>
  </div>

</div>